name: ESP32 CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build_and_analyze:
    runs-on: ubuntu-latest
    container:
      image: espressif/idf:release-v5.4
      options: --user root

    steps:
      - uses: actions/checkout@v4

      - name: Install tools
        run: |
          apt-get update
          apt-get install -y cppcheck jq

      - name: Source ESP-IDF
        run: . /opt/esp/idf/export.sh

      - name: Build (generate compile_commands.json)
        run: |
            . /opt/esp/idf/export.sh
            idf.py set-target esp32s3
            idf.py fullclean
            idf.py build -D CMAKE_EXPORT_COMPILE_COMMANDS=ON

      - name: Filter compile_commands.json (project code only)
        run: |
          jq '[.[] | select((.file | contains("main/")) or (.file | contains("components/bsp/")) or (.file | contains("components/common/")) or (.file | contains("components/device_service/")) or (.file | contains("components/drivers/")) or (.file | contains("components/swc/")))]' build/compile_commands.json > build/compile_commands_mycode.json

      - name: Verify filtered compile commands
        run: |
            jq 'length' build/compile_commands_mycode.json

      - name: Run cppcheck
        run: |
          cppcheck \
            --enable=all \
            --inconclusive \
            --std=c11 \
            --project=build/compile_commands_mycode.json \
            --suppressions-list=cppcheck_suppressions.txt \
            --suppress=missingIncludeSystem \
            --suppress=missingInclude \
            --error-exitcode=1 \
            --template=gcc
