name: ESP32 CI

on:
  push:
    branches:
      - main
  pull_request:
    branches-ignore:
      - main

jobs:
  # === Main branch: build + static analysis ===
  main_build_analysis:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    container:
      image: espressif/idf:release-v5.4
      options: --user root

    steps:
      - uses: actions/checkout@v4
      - name: Install cppcheck
        run: |
          apt-get update
          apt-get install -y cppcheck
      - name: Source ESP-IDF and build
        run: |
          . /opt/esp/idf/export.sh
          idf.py set-target esp32s3
          idf.py fullclean
          idf.py build -D CMAKE_EXPORT_COMPILE_COMMANDS=ON

      - name: Run Cppcheck
        run: |
          cppcheck \
            --enable=all \
            --inconclusive \
            --std=c11 \
            --project=build/compile_commands.json \
            --error-exitcode=1

  # === Other branches: only static analysis ===
  analysis_only:
    if: github.ref != 'refs/heads/main'
    runs-on: ubuntu-latest
    container:
      image: espressif/idf:release-v5.4
      options: --user root

    steps:
      - uses: actions/checkout@v4

      - name: Source ESP-IDF
        run: . /opt/esp/idf/export.sh

      - name: Set target
        run: idf.py set-target esp32s3

      - name: Configure project (no build)
        run: idf.py reconfigure -D CMAKE_EXPORT_COMPILE_COMMANDS=ON

      - name: Run Cppcheck
        run: |
          cppcheck --enable=all --inconclusive \
            --std=c11 \
            --project=build/compile_commands.json \
            --error-exitcode=1 .
